{
  "presets":[
    [
      "@babel/preset-env",{/** options */}
    ],
    [
      "@babel/preset-react",{/** options */}
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"],
    ["import", { "libraryName": "antd", "style": true }]
  ]
}